{% extends 'receipts_home/layouts/main-layout.html' %}

{% block title %}
    Index
{% endblock %}
{% load widget_tweaks %}

{% block body %}

    <div class="container " id="main-container" style="max-height: 740px">
        <div id="modals-here">
        </div>
        <div class="container px-2 " style="width: 50%; float: left">
            <h4> Users </h4>
            <div class="col column  overflow-auto" style="max-height: 740px">
                {% for user in users %}
                    <div class="user-group-item">
                        {{ user.username }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container px-2 " style="width: 50%; float: left;">
            <h4> Receipts </h4>
            <div class="col column card" style="height: 740px">
                {% include 'receipts_home/includes/receipts.html' %}

                {% include 'receipts_home/includes/receipt-form.html' %}
            </div>
        </div>
    </div>

    <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })

        htmx.onLoad(function (content) {
            var sortables = content.querySelectorAll(".sortable");
            for (var i = 0; i < sortables.length; i++) {
                var sortable = sortables[i];
                new Sortable(sortable, {
                    animation: 150,
                    ghostClass: 'blue-background-class'
                });
            }
        });

        function closeModal() {
            var container = document.getElementById("modals-here")
            var proxyContainer = document.getElementById("receipt-list")
            var backdrop = document.getElementById("modal-backdrop")
            var modal = document.getElementById("modal")
            proxyContainer.removeChild(backdrop)

            modal.classList.remove("show")
            backdrop.classList.remove("show")
        }

    </script>
{% endblock %}