{% load widget_tweaks %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
    {% csrf_token %}

    <form hx-post="{% url 'update-receipt' receipt.pk %}" hx-target="#receipt-list">

        <div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ receipt.title }}</h5>
                    </div>
                        <div class="modal-body">
                            {% render_field form.title placeholder='Enter new title' class='form-control' %}
                        </div>
                        {% if form.title.errors %}
                            <br>
                            <div class="alert alert-danger form-group" role="alert">{{ form.title.errors }}
                            </div>
                        {% endif %}

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-secondary" onclick="closeModal()">Submit</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="closeModal()">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
